@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primaryColor: #fbfdff;
    --secondaryColor: #2256F0;
    --tiertiaryColor: #00002B;
    --primaryAccent: #2256F0;
    --secondaryAccent: #33A9FF;
    --tiertiaryAccent: #5d39ff;
    --qaurtiaryAccent: #4e15c9;
    --textColorLight: #fdfdfd;
    --textColorDark: #12111A;
    --textColorLightGray: #A8A8A8;
}

/* ===== Attributes ===== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

main {
    color: var(--textColorDark);
}

body {
    line-height: 1.6;
    background: var(--primaryColor);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: block;
}

img {
    width: 100%;
}

/* ===== Classes ===== */
.showcase {
    background-color: var(--primaryColor);
}

/* navbar */
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 999;
    background: var(--primaryColor);
}

.navbar {
    background: var(--primaryColor);
    height: 80px;
    position: fixed;
    width: 100%;
    max-width: 1500px;
    top: 0;
    z-index: 999;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    background: var(--primaryColor);
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbarItem {
    height: 80px;
    color: var(--textColorDark);
    font-weight: 800;
    font-size: 1.2em;
}

.navbarLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    text-decoration: none;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    color: var(--textColorDark);
    transition: all 0.2s ease;
}

.navbarLinks:hover {
    color: var(--primaryColor);
    transition: all 0.2s ease-in-out;
    background-color: var(--secondaryColor);
}
/* navbar */

/* Splash */
.sectionContainer {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.splashContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
    height: 100vh;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 50px;
    overflow: hidden;
}

.splashBody {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin-top: 50px;
}

.accentText {
    color: var(--textColorLight);
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 15px;
}

.cvBtn {
    background: var(--secondaryColor);
    padding: 5px;
    width: 130px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.cvBtn:hover {
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 15px 25px -5px;
    transform: scale(1.03);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.cvBtn:active {
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 4px 8px;
    transform: scale(0.9);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.arrowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Splash */

/* About */
.aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.aboutContainer {
    z-index: 10;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;
}

.aboutTitling {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
    margin-left: -25px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    grid-auto-rows: minmax(100px, auto);
    padding: 2em;
    width: 100%;
}

.grids div {
    padding: 1em;
}

.aboutText {
    color: var(--textColorDark);
    margin: 0 50px;
}

.aboutTitle {
    font-size: 25px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

.aboutTextContent {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.portraitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* About */

/* Projects */
.projectsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--primaryColor);
}

.projectsContainer {
    width: 100%;
    max-width: 1500px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsTitling {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColorDark);
    margin-top: 25px;
    margin-left: -25px;
}

.projectsTitle {
    font-size: 25px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

.projectsGrids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    width: 100%;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.innerProjectsContainer {
    width: 100%;
    margin: 0 50px;
}

.projects {
    border-radius: 25px;
    width: 400px;
    height: 100%;
}

.projects div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projectInner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.projectIndivTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--textColorDark);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-top: 15px;
}

.projectsBar {
    width: 65px;
    height: 5px;
    margin: 10px auto 20px;
    border-radius: 50px;
    background: var(--primaryAccent);
}

.projectsDescriptText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em 3em;
    color: var(--textColorDark);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.stackTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColorDark);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: -5px;
}

.stackGrid div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}

.stackGrid div p {
    margin: 10px;
}

.innerStackGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stackTools {
    text-align: center;
    color: var(--textColorDark);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 5px 0;
}

.codeButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.codeButton {
    background-color: var(--primaryAccent);
    padding: 5px;
    width: 130px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 auto 20px;
}

.codeButton:hover {
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 15px 25px -5px;
    transform: scale(1.03);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.codeButton:active {
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 4px 8px;
    transform: scale(0.9);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.codeBtn {
    color: var(--textColorLight);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
/* Projects */

/* Experience */
.experiencesSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--primaryColor);
}

.experiencesContainer {
    width: 100%;
    max-width: 1500px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experiencesTitling {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColorDark);
    margin-top: 25px;
    margin-left: -25px;
}

.experiencesTitle {
    font-size: 25px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

.experiencesGrids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    width: 100%;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.innerExperiencesContainer {
    width: 100%;
    margin: 0 50px;
}

.experiences {
    border-radius: 25px;
    width: 400px;
    height: 100%;
}

.experiences div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.experienceInner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.experienceIndivTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--textColorDark);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-top: 15px;
}

.experiencesBar {
    width: 65px;
    height: 5px;
    margin: 30px auto 20px;
    border-radius: 50px;
    background: var(--secondaryAccent);
}

.experiencesDescriptText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em 3em;
    color: var(--textColorDark);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.stackTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColorDark);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: -5px;
}

.stackGrid div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}

.stackGrid div p {
    margin: 10px;
}

.innerStackGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.innerStackGrid-lower {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stackTools {
    text-align: center;
    color: var(--textColorDark);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 5px 0;
}
/* Experience */

.watermarkContainer {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin-left: -20px;
    display: flex;
    justify-content: flex-end;
}

/* Tools */
.toolsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.toolsContainer {
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    margin-top: 100px;
    margin-top: 50px; 
}

.toolsTitling {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColorDark);
    margin-top: 50px; 
    margin-left: -25px;
    flex-direction: column;
}

.toolsTitle {
    font-size: 25px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

.toolsBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolsGrids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    width: 100%;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.cats {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 25px;
    flex-direction: column;
    width: 200px;
    box-shadow: 0px 15px 25px -5px;
    box-shadow: 0 10px 10px rgba(51, 51, 51, 0.2);
}

.catsTitling {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.catsTitle {
    color: var(--textColorDark);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.toolsIcon {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50px;
    width: 50px;
}

.toolsIcon i {
    font-size: 25px;
    line-height: 50px;
}

.toolsList {
    margin: 10px 0;
}

.toolsList p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColorDark);
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
/* Tools */

.footerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--primaryColor);
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}


.footerTitling {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColorDark);
    margin-top: 75px; 
    flex-direction: column;
    margin-bottom: -10px;
}

.footerTitle {
    font-size: 25px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

.contactArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -5px;
}

.contactGrids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    width: 100%;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.contactCats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactsIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #c0c4c5;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    padding: 12px;
    margin-bottom: 5px;
}

.contactsIcon i {
    font-size: 35px;
    line-height: 50px;
    color: var(--textColorDark);
}

.contactHeader {
    color: var(--textColorDark);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
}

.contactText {
    color: var(--textColorDark);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.socialsIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 25px;
}

.socialsIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    padding: 12px;
    margin: 0 10px 25px;
    border-radius: 50%;
    background: #c0c4c5;
    cursor: pointer;
}

.socialsIcon i {
    font-size: 35px;
    line-height: 50px;
    color: var(--textColorDark);
}

.socialsIcon:hover {
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 15px 25px -5px;
    transform: scale(1.03);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.socialsIcon:active {
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 4px 8px;
    transform: scale(0.9);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.footerArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 120px;
    background: var(--secondaryColor);
}

.version-info {
    color: var(--textColorLight);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin: 15px 0;
}

.copyright-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    color: var(--textColorLight);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 15px;
}

/* Links Buttons */
.socialButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -50px;
    width: 250px;
}

.LinksContainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
}

.LinksContainer .linksButton {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.15s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    background: var(--primaryColor);
}

.LinksContainer .linksButton:hover {
    width: 200px;
    color: var(--textColorDark);
    background: var(--primaryColor);
}

.LinksContainer .linksButton .linksIcon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 60px;
    box-sizing: border-box;
    line-height: 60px;
    color: var(--textColorDark);
}

.LinksContainer .linksButton #git_icon {
    margin-right: 5px;
    background: var(--primaryColor);
}

.LinksContainer .linksButton #linked_icon {
    margin-right: 5px;
    background: var(--primaryColor);
}

.LinksContainer .linksButton:hover #git_icon {
    background: var(--primaryColor);
    color: #4712a8;
}

.LinksContainer .linksButton:hover #linked_icon {
    background: var(--primaryColor);
    color: #1a66e2;
    margin-left: 5px;
    margin-right: -2px;
}

.LinksContainer .linksButton .linksIcon i {
    margin-top: 5px;
    font-size: 35px;
    line-height: 50px;
    transition: all 0.2s ease;
}

.LinksContainer .linksButton span {
    font-size: 18px;
    font-weight: 500;
    line-height: 45px;
    margin-left: 8px;
    margin-right: 16px;
    transition: all 0.2s ease-out;
}

.LinksContainer .linksButton:hover #git_span {
    color: #4712a8;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.LinksContainer .linksButton:hover #linked_span {
    color: #1a66e2;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 25px;
}
/* Links Buttons */

/* ===== IDs ===== */
/* navbar */
#navbar-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    color: var(--textColorDark);
    font-weight: 900;
    font-size: 1.7rem;
}
/* navbar */

#splashImg {
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#splashImg img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
}

#helloText {
    color: var(--textColorLight);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 45px;
}

#nameText {
    color: var(--secondaryColor);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 65px;
}

#cvText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColorLight);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 1px;
}

#arrowId {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 82%;
    left: 34%;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    width: 100px;
    height: 150px;
    z-index: 99;
}

#portraitImg img {
    border-radius: 35px;
    width: 400px;
    height: 600px;
}

#projectImg img {
    border-radius: 23px;
}

#watermark {
    width: 150px;
    color: var(--textColorLight);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

/* Tools Icons */
#engineer_icon {
    color: #00ff62;
}

#front_icon {
    color: #33A9FF;
}

#back_icon {
    color: #ddc702;
}

#design_icon {
    color: #b85900;
}

#tech_icon {
    color: #ff5100;
}

#toolsDescriptText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--textColorDark);
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

/* ===== Mobile ===== */
@media screen and (min-width: 1440px) {
    .projectsContainer {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1440px) {
    #portraitImg img {
        border-radius: 35px;
        width: 300px;
        height: 450px;
    }

    .projectsGrids {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 960px) {
    /* ===== Classes ===== */
    /* navbar */
    .navbarContainer {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 99;
        width: 100%;
        max-width: 1500px;
        padding: 0;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        z-index: -1;
        background: var(--primaryColor);
        padding-bottom: 200px;
    }

    .navbar-menu.active {
        background: var(--primaryColor);
        top: 100%;
        opacity: 1;
        transition: all 0.3s ease;
        z-index: -1;
        height: 92vh;
        font-size: 1.6rem;
    }

    .mobile-menu {
        position: absolute;
        top: 17%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbarItem {
        width: 100%;
    }

    .navbarLinks {
        display: table;
        text-align: center;
        padding: 2rem;
        width: 100%;
    }

    .navbarLinks:hover {
        color: var(--secondaryColor);
        transition: all 0.2s ease-in-out;
        background-color: var(--primaryColor);
    }
    /* navbar */

    .splashContainer {
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
    
    .splashBody {
        width: 100%;
        overflow: hidden;
    }

    .aboutSection {
        height: 100%;
    }

    .aboutContainer {
        margin-top: 75px;
    }

    .aboutText {
        color: var(--textColorDark);
        margin: 0;
    }

    .aboutTextContent {
        font-size: 15px;
    }

    .blank {
        display: none;
    }

    .grids {
        grid-template-columns: 1fr;
    }

    .projectsGrids {
        grid-template-columns: repeat(1, 1fr);
    }

    .projectIndivTitle {
        font-size: 20px;
    }

    /* Links Buttons */
    .socialButtons {
        display: none
    }
    /* Links Buttons */

    /* ===== IDs ===== */
    /* navbar */
    #navbar-title {
        padding-left: 50px;
    }

    #navbar-toggle {
        margin-right: 15px;
    }

    #navbar-toggle .bar {
        width: 45px;
        height: 6px;
        margin: 5px auto;
        border-radius: 30px;
        transition: all 0.3s ease;
        background: var(--textColorDark);
    }

    #navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }
    /* navbar */

    #portraitImg img {
        border-radius: 35px;
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .projects {
        width: 300px;
    }

    .stackTools {
        font-size: 14px;
    }

    .arrowContainer {
        top: 70%;
        left: 55%;
    }

    .circle {
        width: 80px;
        height: 80px;
    }

    .copyright-info {
        width: 400px;
    }

    #toolsDescriptText {
        width: 70%;
    }
}  